{% extends 'base.html' %}
{% block content %}

<div class="carousel">
  <div class="slides">
    <img src="../../static/assets/images/images.jpeg2" />
    <img src="../../static/assets/images/images.jpeg3" />
    <img src="../../static/assets/images/images.jpeg4" />
  </div>

  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>
</div>

<div class="dropend">
<h2>OUR HiSTORY</h2>
  <h3>since our sacco began we have been dedicated to serving YOU</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. quos ratione recusandae reiciendis sapiente, sit soluta totam velit vitae! Distinctio doloribus ex explicabo repellat voluptas! Accusamus consequuntur fugiat illo inventore reprehenderit voluptatibus! Culpa distinctio ratione unde. Aliquid ipsum nesciunt soluta veniam?</p>
  <h3>Our are welcomed to join this great journey of morals</h3>

  <ul>
    <li>Loyalty</li>
    <li>transparency</li>
    <li>reliability</li>
  </ul>
    </div>
<script>
const slides = document.querySelector('.slides');
const images = document.querySelectorAll('.slides img');
const prev = document.querySelector('.prev');
const next = document.querySelector('.next');

let index = 0;
const totalSlides = images.length;

function updateSlide() {
  slides.style.transform = `translateX(${-index * 800}px)`;
}

next.addEventListener('click', () => {
  index = (index + 1) % totalSlides;
  updateSlide();
});

prev.addEventListener('click', () => {
  index = (index - 1 + totalSlides) % totalSlides;
  updateSlide();
});

// Auto slide every 3 seconds
setInterval(() => {
  index = (index + 1) % totalSlides;
  updateSlide();
}, 3000);
</script>

{% endblock %}
