{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/assets/images/images.jpeg2" class="rounded mx-auto d-block" alt="">
    </div>
    <div class="carousel-item">
      <img src="../../static/assets/images/images.jpeg3" class="rounded mx-auto d-block" alt="">
    </div>
  </div>

  <!-- Slide Buttons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>

<script>
const slides = document.querySelector('.slides');
const slide = document.querySelectorAll('.slide');
const prev = document.querySelector('.prev');
const next = document.querySelector('.next');
const dotsContainer = document.querySelector('.dots');

let index = 0;
let interval;
const totalSlides = slide.length;

// Create dots
for (let i = 0; i < totalSlides; i++) {
  const dot = document.createElement('span');
  dot.classList.add('dot');
  if (i === 0) dot.classList.add('active');
  dot.addEventListener('click', () => goToSlide(i));
  dotsContainer.appendChild(dot);
}

const dots = document.querySelectorAll('.dot');

function updateCarousel() {
  slides.style.transform = `translateX(-${index * 100}%)`;
  dots.forEach(dot => dot.classList.remove('active'));
  dots[index].classList.add('active');
}

function goToSlide(i) {
  index = i;
  updateCarousel();
  resetAutoSlide();
}

function nextSlide() {
  index = (index + 1) % totalSlides;
  updateCarousel();
}

function prevSlide() {
  index = (index - 1 + totalSlides) % totalSlides;
  updateCarousel();
}

next.addEventListener('click', () => {
  nextSlide();
  resetAutoSlide();
});

prev.addEventListener('click', () => {
  prevSlide();
  resetAutoSlide();
});

// Auto slide
function startAutoSlide() {
  interval = setInterval(nextSlide, 3000);
}

function resetAutoSlide() {
  clearInterval(interval);
  startAutoSlide();
}

startAutoSlide();

// Touch swipe support
let startX = 0;

slides.addEventListener('touchstart', e => {
  startX = e.touches[0].clientX;
});

slides.addEventListener('touchend', e => {
  let endX = e.changedTouches[0].clientX;
  if (startX - endX > 50) nextSlide();
  if (endX - startX > 50) prevSlide();
});
</script>


{% endblock %}