body{ nav{
        background-image:url("../images/com lab.jpg");
        background-repeat: no-repeat;
        width: 100%;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:20px;

        }
        nav ul{
        display:flex;
        list-style-type:none;}
        nav ul li{
        margin:0 20px;}
        nav ul li a{
        text-decoration:none;
        color:black;
        font-size:20px;
        font-weight:bold;
        }
        nav ul li a:hover{
        background-color:red;
        padding:10px 20px;
        border-radius:20px;}
    background-image: url('../images/com lab.jpg');
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    display-inline: inline-block;
    margin:10px 5px;
}
h1{
    text-align: center;
    color: white;
}
p{
text-align: center;
color: white;
font-weight: bold;
}
p a{
    text-decoration: underline;
    color:red;}
i{
    color:white;
    position-area:center;
}
.saap{
        text-align: center;
}
.Home{
        color:red;
}
.Get Started{background-color:red;
.logo{
height:50px;
width:50px;
color:white;}
}

